.header {
  padding: 30px; 
  text-align: center; 
  background: #1abc9c; 
  color: white; 
}

.header h1 {
  font-size: 40px;
}


.navbar {
    overflow:hidden;
    background-color:blue;
    height: 45px;
}

.navbar a {
    float: left;
    /*display: block;*/
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-right {
    float: right;
}


.navbar a:hover {
    background-color:dimgrey;
    color: black;
}

.navbar a.active {
    background-color:dimgrey;
    color: white; 
}

/* Dropdown Button */
.dropbtn {
  background-color: dimgrey;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: gainsboro;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
  position: relative;
  display: inline-block;
}*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/* Links inside the dropdown */
/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;*/
}

/* Change color of dropdown links on hover */
.dropdown-content:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

{box-sizing: border-box;}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    float: left;
    flex: 28%;
    background-color:#3498DB;
    padding: auto;
}

.side2 {
    float: left;
    flex: 50%;
    background-color:#3498DB;
    padding: auto;
}



.main {
    float: left;
    flex: 72%;
    background-color:white;
    padding: auto;
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:300px;
float: left;
}

*#wrapper2
{
 margin:0 auto;
 padding:0px;
 text-align:left;
 width:300px;
float: left;
}

.form_div
{
width:330px;
/*margin-left:0px;*/
padding:21px;
background-color:#3498DB;
}

.form_div2
{
width:623px;
/*margin-left:0px;*/
padding:21px;
background-color:#3498DB;
}

.form_div .form_label
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:underline;
}

.form_div2 .form_label
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:underline;
}

.form_div input[type="text"],input[type="password"]
{
width:320px;
height:25px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}

.form_div2 .formBox input[type="text"],input[type="password"] {
width:200px;
height:25px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}

.form_div2 input[type="text"] {
width:410px;
height:25px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}    

.form_div .btn {
    width:150px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:17px;
    background-color:#616A6B;
    border-bottom:3px solid #616A6B;
    color:white;
    font-weight:bold;
}

.form_div2 .btn {
    width:150px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:17px;
    background-color:#616A6B;
    border-bottom:3px solid #616A6B;
    color:white;
    font-weight:bold;
}

.btn:hover {
    background-color: blue;
}

.responsive {
    width: 100%;
    height: auto;
}


.uploadForm .heading {
    padding-top: 5px;
    margin-top: auto;
    text-align:center;
    font-size: 30px;
    color: black;
}

h2 {
font-size: 25px;
word-break: break-all;
text-align: center;
}

.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn2:hover {
  background-color: #ddd;
}

.btn2.active {
  background-color: #666;
   color: white;
}

.row {
  display: flex;
    flex-wrap: wrap;
}

/*.row,
.row > .column {
  padding: 8px;
}*/

.column {
  float: left;
  width: 33.33%;     
  /*display: none; /* Hide columns by default */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.update {
    border: none;
	color: white;
	width: 100%;
	font-size: 15px;
	padding: 2%;
	background-color: dodgerblue;
	border-radius: 5px;
}

.editbtn:hover, .delbtn:hover, .soldbtn:hover {
   background-color: blue; 
}

#myBtnContainer .searchContainer input[type="text"] {
    width: 250px;
    height: 25px;
}



#myBtnContainer .searchContainer button {
    padding-left: 15px;
    padding-right: 15px;
    height: 32px;
    font-size:14px;
    background: dimgrey;
}

#myBtnContainer .searchContainer button:hover {
    background: blue;
}

